<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style/cssandjs/AttendanceInputForm.css}"rel="stylesheet">
  <title>勤怠入力画面</title>
</head>
<body>
<ul id="menu">
  <form th:action="@{/AttendanceInputFormNoParam}" method="post">
    <li><button type="submit">勤怠入力</button></li>
  </form>
  <form th:action="@{/LocationInputForm}" method="post">
    <li><button type="submit">勤務場所登録</button></li>
  </form>
  <form th:action="@{/ContactInputForm}" method="post">
    <li><button type="submit">連絡先登録</button></li>
  </form>
  <form th:action="@{/AttendanceStatusListView}" method="post">
    <li><button type="submit">勤怠状況一覧表示</button></li>
  </form>
</ul>
<p th:text="${index}"><br>
<p th:text="${start}">
<form th:action="@{/startWork}" method="post">
  <button type="submit">出勤</button>
</form>
<form th:action="@{/endWork}" method="post">
  <button type="submit">退勤</button>
</form>

</body>
</html>