<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style/cssandjs/AttendanceInputForm.css}" rel="stylesheet">
  <title>勤怠入力画面</title>
</head>
<body>
<nav>
  <ul class="menu">
    <form th:action="@{/AttendanceInputFormNoParam}" method="post">
      <li><button type="submit" class="menu-b">勤怠入力</button></li>
    </form>
    <form th:action="@{/LocationInputForm}" method="post">
      <li><button type="submit" class="menu-b">勤務場所登録</button></li>
    </form>
    <form th:action="@{/ContactInputForm}" method="post">
      <li><button type="submit" class="menu-b">連絡先登録</button></li>
    </form>
    <form th:action="@{/AttendanceStatusListView}" method="post">
      <li><button type="submit"class="menu-b">勤怠状況一覧</button></li>
    </form>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="menu-b">ログアウト</button>
    </form>
  </ul>
</nav>
<div class="form">
  <p th:text="${start}">
  <p id="monthAndDayTime"></p>
  <h1 id="currentTime"></h1>
  <p th:text="${name}">
  <table class="button-form">
    <tr>
      <td>
        <form th:action="@{/startWork}" method="post">
          <button type="submit" class="start-b">出勤</button>
        </form>
      </td>
      <td>
        <form th:action="@{/endWork}" method="post">
          <button type="submit" class="end-b">退勤</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="pause">休憩開始</button>
      </td>
      <td>
        <button type="submit" class="pause">休憩終了</button>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript" th:src="@{/style/cssandjs/AttendanceInputForm.js}"></script>
</body>
</html>