<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style/cssandjs/AttendanceStatusListView.css}"rel="stylesheet">
  <title>勤怠状況一覧画面</title>
</head>
<body>
<nav>
<ul class="menu">
  <form th:action="@{/AttendanceInputFormNoParam}" method="post">
    <li><button type="submit"class="menu-b">勤怠入力</button></li>
  </form>
  <form th:action="@{/LocationInputForm}" method="post">
    <li><button type="submit"class="menu-b">勤務場所登録</button></li>
  </form>
  <form th:action="@{/ContactInputForm}" method="post">
    <li><button type="submit"class="menu-b">連絡先登録</button></li>
  </form>
  <form th:action="@{/AttendanceStatusListView}" method="post">
    <li><button type="submit"class="menu-b">勤怠状況一覧</button></li>
  </form>
  <form th:action="@{/logout}" method="post">
    <button type="submit" class="menu-b">ログアウト</button>
  </form>
</ul>
</nav>
<div class="form">
<h2>勤怠状況一覧</h2>
<table border="1" class="status">
  <tr>
    <th>氏名</th>
    <th>電話番号</th>
    <th>メールアドレス</th>
    <th>勤務先</th>
    <th>勤務状況</th>
  </tr>
  <tr th:each="view : ${view}">
    <td th:text="${view.username}"></td>
    <td th:text="${view.phone_number}"></td>
    <td th:text="${view.email_address}"></td>
    <td th:text="${view.location}"></td>
    <td th:text="${view.work_status}"></td>
  </tr>
</table>
</div>
</body>
</html>