<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style/cssandjs/AttendanceStatusListView.css}"rel="stylesheet">
  <title>勤怠状況一覧画面</title>
</head>
<body>
<nav>
<ul class="menu">
  <form th:action="@{/AttendanceInputFormNoParam}" method="post">
    <li><button type="submit"class="menu-b">勤怠入力</button></li>
  </form>
  <form th:action="@{/LocationInputForm}" method="post">
    <li><button type="submit"class="menu-b">勤務場所登録</button></li>
  </form>
  <form th:action="@{/ContactInputForm}" method="post">
    <li><button type="submit"class="menu-b">連絡先登録</button></li>
  </form>
  <form th:action="@{/AttendanceStatusListView}" method="post">
    <li><button type="submit"class="menu-b">勤怠状況一覧</button></li>
  </form>
</ul>
</nav>
<div class="form">
<h2>勤怠状況一覧</h2>
<table border="1" class="status">
  <tr>
    <th>氏名</th>
    <th>勤務開始時間</th>
    <th>勤務終了時間</th>
    <th>ステータス</th>
    <th>勤務場所</th>
  </tr>
  <tr>
    <td>名無し1</td>
    <td>9:00</td>
    <td>18:00</td>
    <td>出勤中</td>
    <td>自宅</td>
  </tr>
  <tr>
    <td>名無し2</td>
    <td>9:00</td>
    <td>15:00</td>
    <td>未出勤</td>
    <td>---</td>
  </tr>
</table>
</div>
</body>
</html>