<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/cssandjs/CSS/ContactInputForm.css}"rel="stylesheet">
    <title>連絡先登録画面</title>
</head>
<body>
<nav>
<ul class="menu">
    <form th:action="@{/AttendanceInputFormNoParam}" method="post">
        <li><button type="submit"class="menu-b">勤怠入力</button></li>
    </form>
    <form th:action="@{/LocationInputForm}" method="post">
        <li><button type="submit"class="menu-b">勤務場所登録</button></li>
    </form>
    <form th:action="@{/ContactInputForm}" method="post">
        <li><button type="submit"class="menu-b">連絡先登録</button></li>
    </form>
    <form th:action="@{/AttendanceStatusListView}" method="post">
        <li><button type="submit"class="menu-b">勤怠状況一覧</button></li>
    </form>
    <form th:action="@{/logout}" method="post" onclick="return logoutAnnounce()">
        <button type="submit" class="menu-b">ログアウト</button>
    </form>
</ul>
</nav>
<div class="form">
<h1>連絡先登録</h1>
    <form th:action="@{/ContactInputForm/ContactUpdate}" method="post">
        <p>電話番号(ハイフンなし)<input type="tel" name="phone_number" placeholder="11122223333"
                          pattern="\d{2,4}-?\d{2,4}-?\d{3,4}"
                          maxlength="11"
                          required /></p>
        <p>メールアドレス<input type="email" placeholder="**********@*****" name="email_address" required/></p>

        <button type="submit" class="register">登録</button>
    </form>
</div>
<script type="text/javascript" th:src="@{/style/cssandjs/JavaScript/ContactInputForm.js}"></script>
</body>
</html>