<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/cssandjs/ContactInputForm.css}"rel="stylesheet">
    <title>連絡先登録画面</title>
</head>
<body>
<ul id="menu">
    <form th:action="@{/AttendanceInputFormNoParam}" method="post">
        <li><button type="submit">勤怠入力</button></li>
    </form>
    <form th:action="@{/LocationInputForm}" method="post">
        <li><button type="submit">勤務場所登録</button></li>
    </form>
    <form th:action="@{/ContactInputForm}" method="post">
        <li><button type="submit">連絡先登録</button></li>
    </form>
    <form th:action="@{/AttendanceStatusListView}" method="post">
        <li><button type="submit">勤怠状況一覧表示</button></li>
    </form>
</ul>

<div class="from">
<h1>連絡先登録</h1>
<form class="input-from">
    <p>電話番号<input type="tel" placeholder="000-0000-0000"/></p>
    <p>メールアドレス<input type="email" placeholder="**********@*****"/></p>
    <p>備考<input type="text" size="30" placeholder="備考を入力してください"/></p>
</form>
    <form th:action="@{/AttendanceInputForm}" method="post">
        <button type="submit" class="register">登録</button>
    </form>
</div>
</body>
</html>